Code/.vs/
Code/BorderedEntry/BorderedEntry.Android/bin/
Code/BorderedEntry/BorderedEntry.Android/obj/
Code/BorderedEntry/BorderedEntry.iOS/bin/
Code/BorderedEntry/BorderedEntry.iOS/obj/
Code/BorderedEntry/BorderedEntry/bin/
Code/BorderedEntry/BorderedEntry/obj/
